@model List<Web2BMVC.Entities.Book>

<h1>List of Books</h1>

<a class="btn btn-success" href="@Url.Action("Create")" > go to create</a>


<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th></th>
    </thead>
    <tbody>
    @foreach(var book in Model){
        <tr>
            <td>@book.Id</td>
            <td>@book.Name</td>
            <td>@book.Author</td>
            <td>
                <a class="btn btn-warning" href="@Url.Action("Update", "Books", new {id =  book.Id})"> Update</a> 
                <a class="btn btn-danger" href="@Url.Action("delete", "Books", new {id =  book.Id})"> Delete</a> 

            </td>
        </tr>
    }
</tbody>
</table>